{% extends 'beerRecipe/baseHome.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    {% spaceless %}
        {% if user.is_authenticated %}
            <div id="liveAlertPlaceholder"></div>

            <div class="container-fluid">
                <form method="post" id="ingredient-form"
                      action="{% if ingredient %}
                            {% url 'add-ingredient-recipe' recipe.id ingredient.id_ingredient.id %}
                            {% else %}
                            {% url 'add-ingredient-recipe' recipe.id %}
                            {% endif %}">
                    <h3>Recipe Ingredients</h3>
                    {% csrf_token %}
                    {% crispy ingredient_form %}
                    <h5>Property</h5>
                    <table class="table table-striped">
                        {{ property_ingredient_recipe.management_form }}
                        {% for form in property_ingredient_recipe.forms %}
                            {% if forloop.first %}
                                <thead>
                                <tr>
                                    {% for field in form.visible_fields %}
                                        <th>{{ field.label|capfirst }}</th>
                                    {% endfor %}
                                </tr>
                                </thead>
                            {% endif %}
                            <tr class="{% cycle 'row1' 'row2' %} formset_row">
                                {% for field in form.visible_fields %}
                                    <td>
                                        {% if forloop.first %}
                                            {% for hidden in form.hidden_fields %}
                                                {{ hidden }}
                                            {% endfor %}
                                        {% endif %}
                                        {{ field.errors.as_ul }}
                                        {{ field }}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}

                    </table>
                    <div role="group" style="margin-bottom: 10px">
                        <button class="btn btn-success" type="submit" id="saveIngredientButton"
                                style="margin-bottom: 15px">Save Ingredient
                        </button>
                        <input type="hidden" id="ingredient_selected" name="ingredient_selected" value="">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#ingredientModal" style="margin-bottom: 15px; margin-left: 10px"
                                data-url="{% url 'load-ingredient' %}">
                            Load ingredient from {{ default_inventory.name }}
                        </button>
                        {% if not hide_button %}
                            <a class="btn btn-secondary" type="button" href="{% url 'view-recipe' recipe.id %}"
                               style="margin-bottom: 15px; margin-left: 10px">Back</a>
                        {% endif %}
                    </div>
                </form>

                <!-- Modal for load ingredient from default inventory-->
                <div class="modal fade" id="ingredientModal" tabindex="-1" aria-labelledby="ingredientModalLabel"
                     aria-hidden="true" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="ingredientModalLabel">Ingredient
                                    of {{ default_inventory.name }}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div id="availableIngredients"></div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" id="addSelectedIngredients">
                                    Add Selected Ingredients
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        <script src="{% static 'formset/jquery_formset.js' %}"></script>
        <script type="text/javascript">
            $('.formset_row').formset({
                prefix: 'property',
                addText: 'Add',
                deleteText: 'Delete',
                formCssClass: 'dynamic-formset1',
                addCssClass: 'add-row btn btn-primary',
                deleteCssClass: 'delete-row btn btn-danger',
                added: function (row) {
                    row.find('input[name*="name"]').removeAttr('disabled')
                }
            });

            $('#div_id_name_category').hide();
            $('#div_id_name_new_category').hide();
            const loadIngredientUrl = "{% url 'load-ingredient' %}";
            const addSelectedIngredientUrl = "{% url 'add-selected-ingredients' %}";

            $(document).ready(function () {
                let name_category = $('#id_category_choices_0');
                let name_new_category = $('#id_category_choices_1');
                let toggle_category = function () {
                    $('#div_id_name_category').toggle();
                };
                let toggle_new_category = function () {
                    $('#div_id_name_new_category').toggle();
                };
                name_category.click(function () {
                    if (name_new_category.is(":checked")) {
                        toggle_new_category();
                        name_new_category.prop('checked', false);
                    }
                    toggle_category();
                });
                name_new_category.click(function () {
                    if (name_category.is(":checked")) {
                        toggle_category();
                        name_category.prop('checked', false);
                    }
                    toggle_new_category();
                });
                $('.popover-dismiss').popover({
                    trigger: 'focus'
                });

                const alertPlaceholder = document.getElementById('liveAlertPlaceholder');
                const appendAlert = (message, type) => {
                    const wrapper = document.createElement('div');
                    wrapper.innerHTML = [
                         `<div class="alert alert-${type} alert-dismissible" role="alert">`,
                         `   <div>${message}</div>`,
                         '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
                         '</div>'
                    ].join('');

                    alertPlaceholder.append(wrapper)
                }

                $('#saveIngredientButton').on('click', function () {
                    event.preventDefault();
                    const form_data = new FormData();
                    const ingredientId = $('#ingredient_selected').val() || '';

                    form_data.append('csrfmiddlewaretoken', document.getElementsByName('csrfmiddlewaretoken')[0].value);
                    form_data.append('name_ingredient', document.getElementById('id_name_ingredient').value);
                    form_data.append('name_category', document.getElementById('id_name_category').value);
                    form_data.append('name_new_category', document.getElementById('id_name_new_category').value);
                    form_data.append('quantity', document.getElementById('id_quantity').value);
                    form_data.append('measurement_unit', document.getElementById('id_measurement_unit').value);
                    form_data.append('comment', document.getElementById('id_comment').value);
                    form_data.append('producer', document.getElementById('id_producer').value);
                    form_data.append('ingredient_selected', ingredientId);

                    if (document.getElementById('id_name_category').value && document.getElementById('id_name_new_category').value) {
                        alert("Both 'Name Category' and 'New Category Name' cannot be filled at the same time.");
                    }
                    document.querySelectorAll('.formset_row').forEach((element, index) => {
                        if (element.style.display !== 'none') {
                            let propertyName = element.querySelector('input[name$="-name"]').value;
                            let propertyValue = element.querySelector('input[name$="-value"]').value;

                            if (propertyName && propertyValue) {
                                form_data.append(`property-${index}-name`, propertyName);
                                form_data.append(`property-${index}-value`, propertyValue);
                            }
                        }
                    });
                    form_data.append('total_forms', document.getElementById('id_property-TOTAL_FORMS').value);

                    const formIngredientActionUrl = $('#ingredient-form').attr('action');
                    $.ajax({
                        type: 'POST',
                        url: formIngredientActionUrl,
                        data: form_data,
                        success: function (response) {
                            clearFormFields();
                            appendAlert('Ingredient added successfully', 'success');
                            console.log(response)
                        },
                        error: function (error) {
                            appendAlert('An error occurred. Please try again.', 'danger');
                            console.log(error);
                        },
                        contentType: false,
                        processData: false,
                    });
                });

                $('#ingredientModal').on('show.bs.modal', function () {
                    $.ajax({
                        url: loadIngredientUrl,
                        type: 'GET',
                        success: function (response) {
                            $('#availableIngredients').empty();
                            response.forEach(function (ingredient) {
                                $('#availableIngredients').append(
                                    `<input type="radio" name="ingredient" value="${ingredient.id}"> ${ingredient.name}<br>`
                                );
                            });
                            console.log(response)
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                });

                $('#addSelectedIngredients').on('click', function () {
                    const selectedIngredientId = $('#availableIngredients input[name="ingredient"]:checked').val();
                    $('#ingredient_selected').val(selectedIngredientId);

                    if (!selectedIngredientId) {
                        alert('Please select an ingredient before adding.')
                        return;
                    }

                    $.ajax({
                        url: addSelectedIngredientUrl,
                        type: 'GET',
                        data: {
                            'ingredient_id': selectedIngredientId,
                        },
                        success: function (data) {
                            $('#id_name_ingredient').val(data.name_ingredient);
                            $('#id_name_category').val(data.name_category);
                            $('#id_quantity').val(data.quantity);
                            $('#id_measurement_unit').val(data.measurement_unit);
                            updateFormset(data);
                            $('#ingredientModal').modal('hide');
                            appendAlert('Ingredient loaded successfully', 'success');
                        },
                        error: function (error) {
                            appendAlert('Error. Ingredient loading failed', 'danger');
                            console.log(error)
                        }
                    });
                });
            });

            function updateFormset(data) {
                let totalForms = $('#id_property-TOTAL_FORMS');
                let maxForms = parseInt(totalForms.val());
                let dataLength = data.properties.length;

                if (dataLength < maxForms) {
                    for (let i = dataLength; i < maxForms; i++) {
                        $(`#id_property-${i}-name`).closest('tr').remove();
                    }
                }
                totalForms.val(dataLength);

                data.properties.forEach((property, index) => {
                    let nameField = $(`#id_property-${index}-name`);
                    let valueField = $(`#id_property-${index}-value`);

                    if (nameField.length && valueField.length) {
                        nameField.val(property.name).prop('disabled', false);
                        valueField.val(property.value);
                    } else {
                        addForm(property, index);
                    }
                });
            }

            function addForm(property, index) {
                let rowClass = (index % 2 == 0) ? 'row1' : 'row2';
                let newRow = $(` <tr class="${rowClass} formset_row dynamic-formset1">
                                    <td>
                                        <input type="text" name="property-${index}-name" value="${property.name}" class="form-control form-control-sm">
                                    </td>
                                    <td>
                                        <input type="number" name="property-${index}-value" value="${property.value}" class="form-control form-control-sm" step="any">
                                    </td>
                                    <td>
                                        <input type="hidden" name="property-${index}-DELETE">
                                        <a class="delete-row btn btn-danger" href="javascript:void(0)">Delete</a>
                                    </td>
                                </tr>`
                );
                $('.dynamic-formset1').closest('table').find('tbody').find('.dynamic-formset1-add').before(newRow);
            }

            function clearFormFields() {
                $('#ingredient-form input[type="text"], #ingredient-form input[type="number"]').val('');
                $('#ingredient-form select').prop('selectIndex', 0);
                document.querySelectorAll('.formset_row').forEach((element) => {
                    element.querySelectorAll('input[type="number"]').forEach((input) => {
                        input.value = '';
                    });
                });
            }
        </script>
    {% endspaceless %}
{% endblock %}
