{% extends 'beerRecipe/baseHome.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    {% spaceless %}
        {% if user.is_authenticated %}
            <div class="container-fluid">
                <form method="post" id="ingredient-form"
                      action="{% if ingredient %}
                            {% url 'add-ingredient-recipe' recipe.id ingredient.id %}
                            {% else %}
                            {% url 'add-ingredient-recipe' recipe.id %}
                            {% endif %}">
                    <h3>Recipe Ingredients</h3>
                    {% csrf_token %}
                    {% crispy ingredient_form %}
                    <h5>Property</h5>
                    <table class="table table-striped">
                        {{ property_ingredient_recipe.management_form }}
                        {% for form in property_ingredient_recipe.forms %}
                            {% if forloop.first %}
                                <thead>
                                <tr>
                                    {% for field in form.visible_fields %}
                                        <th>{{ field.label|capfirst }}</th>
                                    {% endfor %}
                                </tr>
                                </thead>
                            {% endif %}
                            <tr class="{% cycle 'row1' 'row2' %} formset_row">
                                {% for field in form.visible_fields %}
                                    <td>
                                        {% if forloop.first %}
                                            {% for hidden in form.hidden_fields %}
                                                {{ hidden }}
                                            {% endfor %}
                                        {% endif %}
                                        {{ field.errors.as_ul }}
                                        {{ field }}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                    <div role="group" style="margin-bottom: 10px">
                        <button class="btn btn-success" type="submit" id="saveIngredientButton"
                                style="margin-bottom: 15px">Save Ingredient
                        </button>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#ingredientModal" style="margin-bottom: 10px; margin-left: 10px"
                                data-url="{% url 'load-ingredient' %}">
                            Load ingredient from {{ default_inventory.name }}
                        </button>
                        {% if not hide_button %}
                            <a class="btn btn-link" type="button" href="{% url 'view-recipe' recipe.id %}">Back</a>
                        {% endif %}
                    </div>
                </form>

                <!-- Modal for load ingredient from default inventory-->
                <div class="modal fade" id="ingredientModal" tabindex="-1" aria-labelledby="ingredientModalLabel"
                     aria-hidden="true" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="ingredientModalLabel">Ingredient
                                    of {{ default_inventory.name }}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div id="availableIngredients"></div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <a type="button" class="btn btn-primary" id="addSelectedIngredients"
                                   data-base-url="{% url 'add-selected-ingredients' recipe.id '999' %}">
                                    Add Selected Ingredients
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        <script src="{% static 'formset/jquery_formset.js' %}"></script>
        <script type="text/javascript">
            $('.formset_row').formset({
                prefix: 'property',
                addText: 'Add',
                deleteText: 'Delete',
                formCssClass: 'dynamic-formset1',
                addCssClass: 'add-row btn btn-primary',
                deleteCssClass: 'delete-row btn btn-danger',
                added: function (row) {
                    row.find('input[name*="name"]').removeAttr('disabled')
                }
            });

            $('#div_id_name_category').hide();
            $('#div_id_name_new_category').hide();
            const loadIngredientUrl = "{% url 'load-ingredient' %}";

            $(document).ready(function () {
                let name_category = $('#id_category_choices_0');
                let name_new_category = $('#id_category_choices_1');
                let toggle_category = function () {
                    $('#div_id_name_category').toggle();
                };
                let toggle_new_category = function () {
                    $('#div_id_name_new_category').toggle();
                };
                name_category.click(function () {
                    if (name_new_category.is(":checked")) {
                        toggle_new_category();
                        name_new_category.prop('checked', false);
                    }
                    toggle_category();
                });
                name_new_category.click(function () {
                    if (name_category.is(":checked")) {
                        toggle_category();
                        name_category.prop('checked', false);
                    }
                    toggle_new_category();
                });
                $('.popover-dismiss').popover({
                    trigger: 'focus'
                });

                $('#saveIngredientButton').on('click', function () {
                    const form_data = new FormData();
                    form_data.append('csrfmiddlewaretoken', document.getElementsByName('csrfmiddlewaretoken')[0].value);
                    form_data.append('name_ingredient', document.getElementById('id_name_ingredient').value);
                    form_data.append('name_category', document.getElementById('id_name_category').value);
                    form_data.append('name_new_category', document.getElementById('id_name_new_category').value);
                    form_data.append('quantity', document.getElementById('id_quantity').value);
                    form_data.append('measurement_unit', document.getElementById('id_measurement_unit').value);

                    if (document.getElementById('id_name_category').value && document.getElementById('id_name_new_category').value) {
                        alert("Both 'Name Category' and 'New Category Name' cannot be filled at the same time.");
                    }
                    document.querySelectorAll('.formset_row').forEach((element, index) => {
                        let propertyName = element.querySelector('input[name$="-name"]').value;
                        let propertyValue = element.querySelector('input[name$="-value"]').value;

                        if (propertyName && propertyValue) {
                            form_data.append(`property-${index}-name`, propertyName);
                            form_data.append(`property-${index}-value`, propertyValue);
                        }
                    });
                    const formIngredientActionUrl = $('#ingredient-form').attr('action');
                    $.ajax({
                        type: 'POST',
                        url: formIngredientActionUrl,
                        data: form_data,
                        success: function (response) {
                            document.getElementById('ingredient-form').reset();
                            $('#message-content').text('Ingredient added successfully');
                            $('#message-container').removeClass('d-none alert-danger').addClass('alert-success show');
                            console.log(response)
                        },
                        error: function (error) {
                            $('#message-content').text('An error occurred. Please try again.');
                            $('#message-container').removeClass('d-none alert-success').addClass('alert-danger show');
                            console.log(error);
                        },
                        contentType: false,
                        processData: false,
                    });
                    event.preventDefault();
                });

                $('#ingredientModal').on('show.bs.modal', function () {
                    $.ajax({
                        url: loadIngredientUrl,
                        type: 'GET',
                        success: function (response) {
                            $('#availableIngredients').empty();
                            response.forEach(function (ingredient) {
                                $('#availableIngredients').append(
                                    `<input type="radio" name="ingredient" value="${ingredient.id}"> ${ingredient.name}<br>`
                                );
                            });
                            $('#message-content').text('Ingredient added successfully');
                            $('#message-container').removeClass('d-none alert-danger').addClass('alert-success show');
                            console.log(response)
                        },
                        error: function (error) {
                            $('#message-content').text('An error occurred. Please try again.');
                            $('#message-container').removeClass('d-none alert-success').addClass('alert-danger show');
                            console.log(error);
                        }
                    });
                });

                $('#addSelectedIngredients').on('click', function () {
                    const selectedIngredientId = $('#availableIngredients input[name="ingredient"]:checked').val();

                    if (!selectedIngredientId) {
                        alert('Please select an ingredient before adding.')
                        return;
                    }

                    let baseUrl = $(this).data('base-url');
                    window.location.href = baseUrl.replace('999', selectedIngredientId) + "?hide_back_button=False";
                    $('#ingredientModal').modal('hide');
                });
            });
        </script>
    {% endspaceless %}
{% endblock %}