{% extends 'beerRecipe/baseHome.html' %}
{% load crispy_forms_filters %}

{% block content %}
    <div class="container" style="margin: 10px; padding: 10px">
        {% if recipe %}
            <form method="post" action="{% url 'edit_recipe' recipe.id %}">
                {% csrf_token %}
                {{ recipe_form|crispy }}
                <button type="submit" class="btn btn-primary">Save changes</button>

                <a class="btn btn-primary" href="{% url 'steps' recipe.id %}">Add Step</a>
                <a class="btn btn-primary" >Add Ingredients</a>
                <a class="btn btn-secondary" href="{% url 'home' %}">Cancel</a>
            </form>
        {% endif %}
    </div>
{% endblock %}