{% extends 'beerRecipe/baseHome.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    {% spaceless %}
        {% if user.is_authenticated %}
            <div id="liveAlertPlaceholder"></div>

            <h3 style="margin-left: 12px">Recipe</h3>
            <div class="container-fluid" id="recipe-container">
                <form id="recipe-form" method="post"
                      action="{% if recipe %}
                                {% url 'add-recipe' recipe.id %}
                                {% else %}
                                {% url 'add-recipe' %}
                                {% endif %}">
                    {% csrf_token %}
                    {% crispy recipe_form %}
                </form>
                <button class="btn btn-success" type="button" id="saveRecipeButton">Save Recipe</button>
                {% if not hide_button %}
                    <a class="btn btn-secondary" href="{% url 'home' %}" style="margin-left: 5px;">Back Home</a>
                {% else %}
                    <a class="btn btn-secondary" href="{% url 'view-recipe' recipe.id %}"
                       style="margin-left: 5px">Back</a>
                {% endif %}
            </div>
            <div class="container-fluid d-none" id="action-buttons" style="padding-top: 10px">
                <button type="button" id="addIngredientButton" class="btn btn-primary"
                        data-url-template="{% url 'add-ingredient-recipe' 0 %}?core_only=true">
                    Add Ingredient
                </button>
                <button type="button" id="addStepButton" class="btn btn-primary"
                        data-url-template="{% url 'add-step-recipe' 0 %}?core_only=true"
                        style="margin-left: 5px">
                    Add Step
                </button>
                <button class="btn btn-success" type="button" id="updateRecipeButton" style="margin-left: 5px"
                        data-base-url="{% url 'add-recipe' %}">
                    Update Recipe
                </button>
            </div>

            <div class="container-fluid" id="ingredient-container" style="margin-top: 25px"></div>

            <div class="container-fluid" id="step-container" style="margin-top: 25px"></div>
        {% endif %}

        <script src="{% static 'formset/jquery_formset.js' %}"></script>
        <script type="text/javascript">
            let globalRecipeId = null;
            $(document).ready(function () {
                const alertPlaceholder = document.getElementById('liveAlertPlaceholder');
                const appendAlert = (message, type) => {
                    const wrapper = document.createElement('div');
                    wrapper.innerHTML = [
                        `<div class="alert alert-${type} alert-dismissible" role="alert">`,
                        `   <div>${message}</div>`,
                        '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
                        '</div>'
                    ].join('');

                    alertPlaceholder.append(wrapper)
                }

                $('#saveRecipeButton').on('click', function () {
                    event.preventDefault();
                    const form_data = new FormData();

                    form_data.append('csrfmiddlewaretoken', document.getElementsByName('csrfmiddlewaretoken')[0].value);
                    form_data.append('name', document.getElementById('id_name').value);
                    form_data.append('litre', document.getElementById('id_litre').value);
                    form_data.append('ebc', document.getElementById('id_ebc').value);
                    form_data.append('ibu', document.getElementById('id_ibu').value);

                    $.ajax({
                        type: 'POST',
                        url: event.target.action,
                        data: form_data,
                        success: function (response) {
                            if (response.recipe_id) {
                                $('#saveRecipeButton').hide();
                                $('#action-buttons').removeClass('d-none');
                                globalRecipeId = response.recipe_id;
                            }
                            appendAlert('Recipe added successfully', 'success');
                            console.log(response)
                        },
                        error: function (error) {
                            appendAlert('An error occurred. Please try again.', 'danger');
                            console.log(error);
                        },
                        contentType: false,
                        processData: false,
                    });
                });

                $('#updateRecipeButton').on('click', function () {
                    event.preventDefault();
                    const form_data = new FormData(document.getElementById('recipe-form'));
                    form_data.append('csrfmiddlewaretoken', document.getElementsByName('csrfmiddlewaretoken')[0].value);
                    const baseUrl = $(this).data('base-url');
                    const url = baseUrl + (globalRecipeId ? globalRecipeId + '/' : '');

                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: form_data,
                        success: function (response) {
                            appendAlert('Ingredient update successfully', 'success');
                            console.log(response)
                        },
                        error: function (error) {
                            appendAlert('An error occurred. Please try again.', 'danger');
                            console.log(error);
                        },
                        contentType: false,
                        processData: false,
                    });
                });

                $('#addIngredientButton').on('click', function (event) {

                    if (globalRecipeId) {
                        event.preventDefault();
                        let url = $(this).data('url-template').replace('0', globalRecipeId);
                        $('#addIngredientButton').hide();
                        $('#ingredient-container').load(url);
                    }
                });

                $('#addStepButton').on('click', function (event) {

                    if (globalRecipeId) {
                        event.preventDefault();
                        let url = $(this).data('url-template').replace('0', globalRecipeId);
                        $('#addStepButton').hide();
                        $('#step-container').load(url);
                    }
                });
            });
        </script>
    {% endspaceless %}
{% endblock %}