{% extends 'beerRecipe/baseHome.html' %}
{% load crispy_forms_filters %}

{% block content %}
    <div class="container" style="margin: 10px; padding: 10px">
        {% if recipe %}
            <form method="post" action="{% url 'steps' recipe.id %}">
                {% csrf_token %}
                {{ step_form|crispy }}
                <button type="submit" class="btn btn-primary">Save</button>
                <a class="btn btn-primary">Add Ingredients</a>
                <a class="btn btn-secondary">Cancel</a>
                <a class="btn btn-link" href="{% url 'home' %}">Back Home</a>
            </form>
        {% endif %}
    </div>
{% endblock %}