{% extends 'beerRecipe/baseHome.html' %}
{% load crispy_forms_tags %}

{% block head %}
    <style>
        .draggable {
            cursor: move;
        }

        .dropzone {
            min-height: 50px;
            background-color: #f8f9fa;
        }

        .list-group-item {
            user-select: none;
        }
    </style>
{% endblock %}

{% block content %}
    {% spaceless %}
        {% if user.is_authenticated %}
            <div id="liveAlertPlaceholder"></div>

            <div class="container-fluid" style="margin-top: 10px">
                <div class="row">

                    <!--Ingredient list-->
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Ingredients List</h5>
                                <h6 class="card-subtitle mb-2 text-body-secondary">Drag ingredients into equivalence
                                    classes to categorize them.</h6>
                                <div id="ingredientList">
                                    <ul class="list-group">
                                        {% for ingredient in ingredients %}
                                            <li class="list-group-item draggable" draggable="true"
                                                id="ingredient-{{ ingredient.id }}"
                                                ondragstart="handleDragStart(event)">{{ ingredient.name }}</li>
                                        {% empty %}
                                            <li class="list-group-item">No ingredients found. Add new ingredient from
                                                inventory...
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Equivalent class list-->
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Equivalence Classes of Ingredients</h5>
                                <h6 class="card-subtitle mb-2 text-body-secondary">Expand to see or edit the ingredients
                                    in each class.</h6>
                                <div class="accordion accordion-flush" id="accordionEquivalentClasses">
                                    {% for equivalent_class in equivalent_classes %}
                                        <div class="accordion-item" id="equivalent-class-{{ equivalent_class.id }}">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse"
                                                        data-bs-target="#flush-collapse{{ equivalent_class.id }}"
                                                        aria-expanded="false"
                                                        aria-controls="flush-collapse{{ equivalent_class.id }}">

                                                    <a class="btn btn-primary rounded-pill"
                                                       style="height: fit-content"
                                                       href="{% url 'add-equivalent-classes' equivalent_class.id %}">
                                                        {{ equivalent_class.name }}
                                                        <i class="bi bi-pencil-square" style="padding-left: 10px"></i>
                                                    </a>

                                                    <a class="btn btn-danger rounded-pill"
                                                       style="height: fit-content; margin-left: 10px"
                                                       href="#confirmDelete"
                                                       onclick="confirmDeleteEquivalenceClass({{ equivalent_class.id }})"
                                                       data-bs-toggle="modal">
                                                        <i class="bi bi-trash"></i>
                                                    </a>
                                                </button>
                                            </h2>
                                            <div id="flush-collapse{{ equivalent_class.id }}"
                                                 class="accordion-collapse collapse"
                                                 data-bs-parent="#accordionEquivalentClasses">
                                                <div class="accordion-body dropzone"
                                                     ondrop="dropIngredient(event, {{ equivalent_class.id }})"
                                                     ondragover="allowDrop(event)">
                                                    <h6>Ingredients</h6>
                                                    <ul class="list-group"
                                                        id="ingredients-list-{{ equivalent_class.id }}">
                                                        {% for ingredient in equivalent_class.ingredients.all %}
                                                            <li class="list-group-item d-flex justify-content-between align-items-center"
                                                                id="ingredient-{{ ingredient.id }}-{{ equivalent_class.id }}"
                                                                draggable="true">
                                                                {{ ingredient.name }}
                                                                <a class="btn btn-primary rounded-pill"
                                                                   style="height: fit-content"
                                                                   href="#"
                                                                   onclick="editProportion(event,{{ ingredient.id }},{{ equivalent_class.id }})"
                                                                   data-bs-toggle="modal"
                                                                   data-bs-target="#proportions">
                                                                    <i class="bi bi-pencil-square"></i>
                                                                </a>
                                                                <a class="btn btn-danger rounded-pill"
                                                                   style="height: fit-content"
                                                                   href="#confirmDelete"
                                                                   onclick="confirmDeleteIngredient({{ ingredient.id }}, {{ equivalent_class.id }})"
                                                                   data-bs-toggle="modal"
                                                                   data-bs-target="#confirmDelete">
                                                                    <i class="bi bi-trash"></i>
                                                                </a>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    {% empty %}
                                        <p>No equivalence classes of ingredients found. Add new equivalence
                                            classes...</p>
                                    {% endfor %}
                                </div>
                                <a href="{% url 'add-equivalent-classes' %}" class="btn btn-primary"
                                   style="margin-top: 10px">Create Class</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal for confirm delete -->
                <div class="modal" tabindex="-1" id="confirmDelete" role="dialog"
                     aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="confirmDeleteModalLabel">Confirm Delete</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to delete?</p>
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-danger btn-ok" id="confirmDeleteBtn">Yes</a>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal for the proportions field between equivalent ingredients -->
                <div class="modal" tabindex="-1" id="proportions" role="dialog"
                     aria-labelledby="proportionsModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="proportionsModalLabel">Enter the proportion</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form id="proportionForm" method="POST" action="{% url 'update-equivalent-classes' %}">
                                    {% csrf_token %}
                                    <input type="hidden" id="modalIngredientId" name="ingredient_id">
                                    <input type="hidden" id="modalEquivalentClassId" name="equivalent_class_id">
                                    {% crispy proportion_form %}
                                </form>
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-success btn-ok" id="proportionsBtn">Save</a>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        <script type="text/javascript">
            function handleDragStart(event) {
                event.dataTransfer.setData("text/plain", event.target.id);
            }

            function allowDrop(event) {
                event.preventDefault();
            }

            function dropIngredient(event, equivalentClassId) {
                event.preventDefault();
                const ingredientId = event.dataTransfer.getData("text").split('-')[1];

                const existingIngredient = document.querySelector(`#ingredients-list-${equivalentClassId} [id="ingredient-${ingredientId}-${equivalentClassId}"]`);
                if (existingIngredient) {
                    appendAlert('This ingredient is already in the equivalence class.', 'warning');
                    return;
                }
                $('#modalIngredientId').val(ingredientId);
                $('#modalEquivalentClassId').val(equivalentClassId);
                $('#proportions').modal('show');
            }

            let editIngredient = false;

            function editProportion(event, ingredientId, equivalentClassId) {
                event.preventDefault();

                $.ajax({
                    url: "{% url 'get-proportion' %}",
                    type: 'GET',
                    data: {
                        'ingredient_id': ingredientId,
                        'equivalent_class_id': equivalentClassId
                    },
                    success: function (response) {
                        $('#modalIngredientId').val(ingredientId);
                        $('#modalEquivalentClassId').val(equivalentClassId);
                        $('#id_proportion').val(response.proportion);
                        editIngredient = true;
                    },
                    error: function (error) {
                        console.log(error);
                        appendAlert(error.error, 'danger');
                    }
                });
            }

            $(document).ready(function () {
                $('#proportionsBtn').on('click', function (event) {
                    event.preventDefault();

                    const ingredientId = $('#modalIngredientId').val();
                    const equivalentClassId = $('#modalEquivalentClassId').val();
                    const proportion = document.getElementById('id_proportion');

                    if (!proportion.value.trim()) {
                        appendAlert('Please enter the proportion.', 'danger');
                        proportion.classList.add('is-invalid');
                        return;
                    } else {
                        proportion.classList.remove('is-invalid');
                    }

                    if (!/^\d+:\d+$/.test(proportion.value)) {
                        appendAlert('Invalid proportion format. Please use "number:number".', 'danger');
                        return;
                    }

                    $.ajax({
                        type: 'POST',
                        url: "{% url 'update-equivalent-classes' %}",
                        data: {
                            'ingredient_id': ingredientId,
                            'equivalent_class_id': equivalentClassId,
                            'proportion': proportion.value,
                            'csrfmiddlewaretoken': $('#proportionForm input[name="csrfmiddlewaretoken"]').val()
                        },
                        success: function (response) {
                            if (response.success) {
                                document.getElementById('proportionForm').reset();
                                $('#proportions').modal('hide');

                                const ingredientElementId = `ingredient-${ingredientId}-${equivalentClassId}`;
                                const ingredientElement = document.getElementById(`ingredient-${ingredientId}`);

                                if (!editIngredient) {
                                    const ingredientName = ingredientElement.innerText;
                                    let newElement = document.createElement('li');
                                    newElement.id = ingredientElementId;
                                    newElement.classList.add('list-group-item', 'd-flex', 'justify-content-between', 'align-items-center');
                                    newElement.innerHTML = `${ingredientName}
                                                       <a class="btn btn-primary rounded-pill"
                                                          style="height: fit-content"
                                                          href="#"
                                                          onclick="editProportion(event,${ingredientId},${equivalentClassId})"
                                                          data-bs-toggle="modal"
                                                          data-bs-target="#proportions">
                                                             <i class="bi bi-pencil-square"></i>
                                                       </a>
                                                       <a class="btn btn-danger rounded-pill"
                                                          style="height: fit-content"
                                                          href="#confirmDelete"
                                                          onclick="confirmDeleteIngredient(${ingredientId}, ${equivalentClassId})"
                                                          data-bs-toggle="modal"
                                                          data-bs-target="#confirmDelete">
                                                             <i class="bi bi-trash"></i>
                                                       </a>`;
                                    document.getElementById(`ingredients-list-${equivalentClassId}`).appendChild(newElement);
                                }
                                appendAlert(response.success, 'success');
                                editIngredient = false;
                            } else {
                                appendAlert(response.error, 'danger');
                            }
                        },
                        error: function (error) {
                            appendAlert('An error occurred: ' + error.status + ' ' + error.statusText, 'danger');
                            appendAlert(error.statusText, 'danger');
                        }
                    });
                });
            });

            let ingredientToDelete;
            let equivalentClassIdToDelete;
            let deleteType;

            function confirmDeleteIngredient(ingredientId, equivalentClassId) {
                ingredientToDelete = ingredientId;
                equivalentClassIdToDelete = equivalentClassId;
                deleteType = 'ingredient';
            }

            function confirmDeleteEquivalenceClass(equivalentClassId) {
                equivalentClassIdToDelete = equivalentClassId;
                deleteType = 'equivalence_class';
            }

            $('#confirmDeleteBtn').on('click', function () {
                if (ingredientToDelete !== null && equivalentClassIdToDelete !== null && deleteType === 'ingredient') {
                    removeIngredient(ingredientToDelete, equivalentClassIdToDelete);
                } else if (deleteType === 'equivalence_class' && equivalentClassIdToDelete !== null) {
                    removeEquivalenceClass(equivalentClassIdToDelete);
                }
                $('#confirmDelete').modal('hide');
            });

            function removeEquivalenceClass(equivalentClassId) {
                $.ajax({
                    type: 'POST',
                    url: "{% url 'remove-equivalent-class' %}",
                    data: {
                        'equivalent_class_id': equivalentClassId,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function (response) {
                        const classElement = document.getElementById(`equivalent-class-${equivalentClassId}`);
                        classElement.parentNode.removeChild(classElement);
                        appendAlert(response.success, 'success');
                    },
                    error: function (error) {
                        appendAlert(error.error, 'danger');
                    }
                });
            }

            function removeIngredient(ingredientId, equivalentClassId) {
                $.ajax({
                    type: 'POST',
                    url: "{% url 'remove-ingredient-from-equivalent-class' %}",
                    data: {
                        'ingredient_id': ingredientId,
                        'equivalent_class_id': equivalentClassId,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function (response) {
                        if (response.success) {
                            const ingredientElementId = `ingredient-${ingredientId}-${equivalentClassId}`;
                            const ingredientElement = document.getElementById(ingredientElementId);
                            ingredientElement.parentNode.removeChild(ingredientElement);
                            appendAlert(response.success, 'success');
                        } else {
                            appendAlert(response.error, 'danger');
                        }
                    },
                    error: function (xhr) {
                        appendAlert('An error occurred: ' + xhr.status + ' ' + xhr.statusText, 'danger');
                    }
                });
            }

            function appendAlert(message, type) {
                const alertPlaceholder = document.getElementById('liveAlertPlaceholder');
                const wrapper = document.createElement('div');
                wrapper.innerHTML = [
                    `<div class="alert alert-${type} alert-dismissible" role="alert">`,
                    `   <div>${message}</div>`,
                    '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
                    '</div>'
                ].join('');

                alertPlaceholder.append(wrapper);
            }
        </script>
    {% endspaceless %}
{% endblock %}