{% extends 'beerRecipe/baseHome.html' %}

{% block content %}
    <div class="container-fluid" style="margin-bottom: 50px;margin-top: 50px">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
                <th scope="col">Quantity</th>
                <th scope="col">Measurement Unit</th>
                <th scope="col">Expiry date</th>
                <th scope="col">Property</th>
                <th scope="col">Handle</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>

{% endblock %}