{% extends 'beerRecipe/baseHome.html' %}

{% block content %}
    {% spaceless %}
        {% if user.is_authenticated %}
            <h3>Inventory</h3>
            <div class="container-fluid">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Measurement Unit</th>
                        <th scope="col">Expiry date</th>
                        <th scope="col">Property</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ingredient in ingredients %}
                        <tr>
                            <td>{{ ingredient.id_ingredient.name }}</td>
                            <td>{{ ingredient.id_ingredient.id_category.name }}</td>
                            <td>{{ ingredient.quantity }}</td>
                            <td>{{ ingredient.measurement_unit }}</td>
                            <td>{{ ingredient.expiry_date|date:"m/d/Y" }}</td>
                            <td>
                                {% for name,value in ingredient.id_ingredient.properties_dict.items %}
                                    <strong>{{ name }}:</strong> {{ value }}<br>
                                {% endfor %}
                            </td>
                            <td>
                                <a class="btn btn-primary rounded-pill" style="height: fit-content; margin-right: 5px"
                                   href="{% url 'manage-ingredient-inventory' inventories.id ingredient.id %}">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                <a class="btn btn-danger rounded-pill" style="height: fit-content; margin-left: 5px"
                                   href="#"
                                   data-href="{% url 'remove-ingredient-inventory' ingredient.id inventories.id %}"
                                   data-bs-target="#confirmDelete"
                                   data-bs-toggle="modal">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <hr>
            <div role="group" style="margin: 5px">
                <a class="btn btn-primary" type="button" href="{% url 'manage-ingredient-inventory' inventories.id %}">Add
                    Ingredient</a>
                <a class="btn btn-link" type="button" href="{% url 'home' %}">Back Home</a>
            </div>

            <!-- Modal for confirm delete-->
            <div class="modal" tabindex="-1" id="confirmDelete" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Confirm Delete</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            <span aria-hidden="true">&times;</span>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete the ingredient?</p>
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-danger btn-ok">Yes</a>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>

            <script>
                $('#confirmDelete').on('show.bs.modal', function (e) {
                    $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
                });
            </script>
        {% endif %}
    {% endspaceless %}
{% endblock %}