{% extends 'beerRecipe/baseHome.html' %}

{% block content %}
    {% spaceless %}
        {% if user.is_authenticated %}
            <h3>Inventory {{ inventories.name }}</h3>
            <hr>
            <div class="container-fluid">
                <label for="categoryFilter">Select Category</label>
                <select id="categoryFilter" style="margin-left: 10px">
                    <option value="">--</option>
                    {% for category in categories %}
                        <option value="{{ category.name }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
                <table class="table table-striped" id="ingredientTable">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Producer</th>
                        <th scope="col">Category</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Measurement Unit</th>
                        <th scope="col">Expiry date</th>
                        <th scope="col">Property</th>
                        <th scope="col">Comment</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ingredient in ingredients %}
                        <tr>
                            <td>{{ ingredient.id_ingredient.name }}</td>
                            <td>{{ ingredient.id_ingredient.producer }}</td>
                            <td>{{ ingredient.id_ingredient.id_category.name }}</td>
                            <td>{{ ingredient.display_quantity }}</td>
                            <td>{{ ingredient.original_unit }}</td>
                            <td>{{ ingredient.expiry_date|date:"m/d/Y" }}</td>
                            <td>
                                {% for name,value in ingredient.id_ingredient.properties_dict.items %}
                                    <strong>{{ name }}:</strong> {{ value }}<br>
                                {% endfor %}
                            </td>
                            <td>{{ ingredient.id_ingredient.comment }}</td>
                            <td>
                                <a class="btn btn-primary rounded-pill" style="height: fit-content; margin-right: 5px"
                                   href="{% url 'manage-ingredient-inventory' inventories.id ingredient.id_ingredient.id %}">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                <a class="btn btn-danger rounded-pill" style="height: fit-content; margin-left: 5px"
                                   href="#"
                                   data-href="{% url 'remove-ingredient-inventory' ingredient.id_ingredient.id %}"
                                   data-bs-target="#confirmDelete"
                                   data-bs-toggle="modal">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <hr>
            <div role="group" style="margin: 5px">
                <a class="btn btn-primary" type="button" href="{% url 'manage-ingredient-inventory' inventories.id %}">Add
                    Ingredient</a>
                <a class="btn btn-secondary" type="button" href="{% url 'home' %}" style="margin-left: 5px">Back Home</a>
            </div>

            <!-- Modal for confirm delete-->
            <div class="modal" tabindex="-1" id="confirmDelete" role="dialog"
                    aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmDeleteModalLabel">Confirm Delete</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete the ingredient?</p>
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-danger btn-ok">Yes</a>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>

            <script>
                $('#confirmDelete').on('show.bs.modal', function (e) {
                    $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
                });

                $(document).ready(function () {
                    let table = $('#ingredientTable').DataTable({
                        'paging': true,
                        'ordering': true,
                        'searching': true,
                    });

                    $('#categoryFilter').on('change', function () {
                        table.column(1).search(this.value).draw();
                    });
                });
            </script>
        {% endif %}
    {% endspaceless %}
{% endblock %}