{% extends "beerRecipe/base.html" %}
{% load crispy_forms_filters %}


{% block content %}
    <style>
        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
            overflow-x: hidden;
            overflow-y: hidden;
        }

        .bg-glass {
            background-color: hsla(0, 0%, 100%, 0.9) !important;
            backdrop-filter: saturate(200%) blur(25px);
        }

        .centered-form {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            overflow-y: auto;
        }

        .centered-form .card {
            width: 100%;
            max-width: 400px;
        }
    </style>

    <div class="centered-form">
        <div class="card bg-glass">
            <div class="card-body">
                <form method="post" action="" novalidate>
                    <h1 class="text-center mb-4">Login</h1>
                    {% csrf_token %}
                    {{ form|crispy }}

                    <div class="mb-3 text-center">
                        <button type="submit" class="btn btn-primary w-100">Login</button>
                    </div>

                    <div class="mt-4 text center">
                        Not a member? <a href="{% url 'signup' %}">Register here.</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}