{% extends "beerRecipe/base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
    <style>
        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
        }

        .bg-glass {
            background-color: hsla(0, 0%, 100%, 0.9) !important;
            backdrop-filter: saturate(200%) blur(25px);
            width: 100%;
        }

        .centered-form {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .centered-form .card {
            width: 100%;
            max-width: 80%;
        }
    </style>

    <div class="centered-form">
        <div class="card bg-glass">
            <div class="card-body">
                <form method="post" action="">
                    <h1 class="text-center mb-4">SignUp</h1>
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div style="display: flex; justify-content: space-between; align-items: center;">
                        <button class="btn btn-primary" type="submit">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}